/* Using root to define variables for use throughout my css sytling */
:root{
    --greyBlue: rgb(57, 77, 104);
    --hoverBlue:rgb(35, 48, 65);
    --aquaBlue:rgb(28, 184, 184);
    --hoverAqua:rgb(34, 230, 230);
}


html{
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    width:100vw;
    overflow-y: scroll;
}

body{
    /* removes basic styles */
    padding: 0;
    margin:0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width:1500px;
    min-width: 227px;
}

main{
    display:flex;
    flex-direction: column;
    position:relative;
    width:100%;
    justify-content:flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
    height: fit-content;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.separator{
    background-color: var(--aquaBlue);
    height: .25vh;
    width:100%;
}

.nav-bar{

    /* turns nav-bar class into flexbox container */
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    height:10vh;
    overflow:hidden;
    margin-bottom:0;
    background-color: var(--greyBlue);

}

/* css class selector to set the properties of the unordered list in the nav bar */
.page-links{
    list-style: none;
    display:flex;
    /* spaces each li evenly across it's width */
    justify-content: space-evenly;
    align-items: center;
    padding:0%;
    margin:0;

}

.page-links li{
    flex:1 1 10%;
    text-align: center;
}

/* applied same color to all a children in class 'brand' and 'page-links' */
.page-links a {
    flex: 1 0 ;
    
    font-weight: bolder;
    transition: all ease-in-out 0.35s;
    color:var(--aquaBlue); 
    
}
/*using a psedo class to set css properties when the user interacts with page-links with a pointing device*/
.page-links a:hover{
    background-color:var(--hoverBlue);
}
/* creates a psuedo class to add styling after the anchor */
.page-links a::after{
    content:"";
    display: block;
    /* TODO: width > 100% and center */
    margin:0 auto;
    width:3em;
    border-bottom:4px var(--aquaBlue) solid;
    /* space between underline and word */
    padding-top:10px; 
}


.brand a, .page-links a{
    display:block;
    padding:1rem;
    text-decoration: none;
}

.brand{
    background-color: var(--aquaBlue);
    margin:0 auto;
    
}
.brand a{
    text-decoration: none;
    color:var(--greyBlue)
}

/* background image */
.hero-image{
    background-image:url('/assets/images/Melbourne-Tracks1.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height:15vh;
    width:99%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.hero-text{
    padding-top:-2%;
    /* pushes children down */
    margin-top:auto;
    margin-bottom:0;
    /* background color with opacity of .3 */
    background-color:rgb(57, 77, 104,0.4);
    /* TODO:Change color */
    color:rgb(229, 255, 0);
    line-height: .6;
    font-size: 110%;
}

.hero-text h1{
    margin-top:10%;
}

/* About Me Stlying */

.about-block article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height:1.2;
}
.para-1{
    margin-left:1%;
    margin-right:1%
}

.about-sign-off{
    margin: 5px auto 0 auto;
}

/* styling all section headers */
.section-header{
    display: inline-block;
    margin-left:1%;
    color:var(--greyBlue)
}
.section-header::after{
    content:'';
    display: block;
    margin:0 auto;
    width:98vw;
    padding-top:10px;
    border-bottom: 3px var(--greyBlue) solid;
}

/* Work Styling */
.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height:fit-content ;
    margin-bottom: 1vh;

}
.card-container a{
    display: flex;
    border: 3px var(--aquaBlue) solid;
    border-radius: 7px;
}

.project-card-large{
    padding:0;
    margin:1% 2.5%;
    width:100%;
    height:20vh; 
}
.project-card{
    margin: 1% 2.5%;
    padding:0 ;
    height: 10vh;
    width: 95%;

}

.card-container a:hover{
    box-shadow: 0px 0px 10px var(--hoverAqua);
    transition: ease-in 0.45s;
}

/* Contact Me Styling */

.contact-links{
    list-style: none;
    margin:0;
    padding:0;
}
.contact-links a{
    text-decoration: none;

}


.contact-container ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.contact-links li{
    display: flex;
    justify-content: center;
    background-color: var(--greyBlue);
    width:100%;
    margin:3px 0;

}

.contact-links a{
    width: 100%;
    text-align: center;
    padding:10px;
    color:var(--aquaBlue)
}
.contact-links a::after{
    content:"";
    display: block;
    /* TODO: width > 100% and center */
    margin:0 auto;
    width:7rem;
    border-bottom:4px var(--aquaBlue) solid;
    /* space between underline and word */
    padding-top:5px; 
}

.contact-links a:hover{
    background-color: var(--hoverBlue);
}



@media screen and (min-width:450px) {
    /* at a screen width of 450px the page links in the nav bar will expand to take up 100% of the width */
    .page-links{
        width:100%;
    }
    .separator{
        height:.4vh 
    }
    .page-links a::after{
        width:3.5em;



    }


@media screen and (min-width:768px){
    .project-card{
        width:45%;
        margin: 1% 1.25%;
    }
}
}

@media screen and (min-width:992px){
    .page-links{
        width: 20%;
        padding-right:7%;
    }
    .nav-bar{ 
        height: 10vh;
    }
    .nav-bar h1{
        margin-right: auto;
        margin-left: 0;
    }
    .brand a{
        padding-right:0%;
    }

    main{top:10vh}
    body{
        max-width: none;
    }
    /* fixing the header to the top of the viewport, header will be there even on scroll */
header{
    position: fixed;
    width:100%;
    top:0;
    z-index:5;
}

}
@media screen and (min-width:1400px){
    .page-links{
        width: 15%;
    }
}
@media screen and (min-width:1400px){
    .page-links{
        width: 15%;
    }
}
@media screen and (min-width:1800px){
    .page-links{
        width: 12.5%;
    }
}